body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.choose-move {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;

}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 15px;
}

.reset-score-button,
.auto-play-button {
  background-color: rgb(158, 186, 66);
  border: 1px solid rgb(237, 237, 150);
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}